//Colors

// $color-primary-1: #00a8cc;
// $color-primary-2: #0c7b93;

$color-primary-1: #008faf;
$color-primary-2: #10677a;

$color-secondary: #ff7730;

$background-light: #EEEEEE;
$background-dark: #121212;

$color-white: #fff;
$color-black: #000;

//Fonts

$font-head: 'Roboto', sans-serif;
$font-body: 'Source Sans Pro', sans-serif;

$default-font-size: 1.9rem;

//Shadows

$shadow-light: 4px 3px 15px rgba(16, 22, 29, 0.801);

//Utilities

$header-height: 8rem;
$section-padding-mobile: 2.5rem;
$section-padding-laptop: 2.5rem 8%;