@import '../styles/variables';
@import '../styles/media-queries';

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 47.5rem;
    width: 95%;

    border-radius: 6px;
    border-bottom: 6px solid $color-primary-1;

    background: rgba(var(--text-color-op), 0.05);

    box-shadow: -1.5px 5px 8px 2px $color-primary-2;

    @include respond(tablet) {
        width: 32%;
        height: 55rem;
        border-bottom: none;
        border-left: 6px solid $color-primary-1;
    }
}

.card_image {
    height: 30%;
    padding: 1.5rem 0;
    margin: 0 1.5rem;
    border-bottom: 2px dotted $color-primary-1;
    width: auto;

    filter: drop-shadow(1px 1px 8px $color-primary-1);
}

.card_info {
    height: 70%;
    padding: $section-padding-mobile;

    & > * {
        text-align: center;
    }
}